.footer-bottom{
    bottom: 0px;
    position: fixed;
}

.p-footer{
    padding: 15px 10px;
    text-align: right;
    font-size: 14px;
    margin: 0;
}

footer{
    width: 100%;    
}

#cart1{
    margin: 30px;
    margin-top: 100px;
}

.text-center{
    padding: 20px;

    text-align: center;
}
.logga{
    width: 75px;
}

.pic{
  width: 50px;
}

.btn{
  padding: auto;
  margin: 10px;
}
th{
  vertical-align: middle;
}
td{
  vertical-align: middle;
}

.invalidText{
  color:red
}

#order-done-text{
    text-align: center;
    margin-top:250px;
    font-size: 4vw;
}

#products{
    margin-top: 100px;
}

#addItems{
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    width: 75px;
}
.item-card-pic{
    width: 150px;
}
#itemCard{
    width: 250px;
    height:450px;
}

#p-height{
    height: 75px;
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-width: 100%; 

}

#title{
    height: 50px;
}

.tooltip{
    max-width: 200px;
    background-color:black;
    color: white;
}

.add1btn{
    margin: 0;
}